@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Email:</strong> @ViewData["Email"]<br />
    <strong>Phone:</strong> @ViewData["Phone"]<br />
    <strong>GitHub:</strong> <a href=@ViewData["GitHub"]>GitHub</a><br />
    <strong>LinkedIn:</strong> <a href=@ViewData["LinkedIn"]>LinkedIn</a>
</address>
