@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/index.css" rel="stylesheet" type="text/css" />
}

<div id="main">
    <img src="~/images/New-York-3840x2160-001.jpg" class="img-responsive" alt="Joe Matteson" />
</div>

<div class="row">
    <div class="col-md-6 table-bordered">
        <div class="item">
            <img src="~/images/shopist.png" alt="Shopist" class="img-responsive img-rounded" />
            <div class="overlay">
                <div class="text">Shopist</div>
            </div>
        </div>
    </div>
    <div class="col-md-6 table-bordered">
        <div class="item">
            @*<img src="~/images/quizweb.png" alt="QuizWeb"/>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 table-bordered">
        <h2>This Website</h2>

    </div>
    <div class="col-md-6 table-bordered">
        <h2>Work Experience</h2>

    </div>
</div>

<div>
    
</div>
